@page
@model AspNetCoreIdentity.Pages.Products.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Producto</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Producto.Nombre" class="control-label"></label>
                <input asp-for="Producto.Nombre" class="form-control" />
                <span asp-validation-for="Producto.Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Producto.Descripcion" class="control-label"></label>
                <input asp-for="Producto.Descripcion" class="form-control" />
                <span asp-validation-for="Producto.Descripcion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Producto.UM" class="control-label"></label>
                <input asp-for="Producto.UM" class="form-control" />
                <span asp-validation-for="Producto.UM" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Producto.Marca" class="control-label"></label>
                <input asp-for="Producto.Marca" class="form-control" />
                <span asp-validation-for="Producto.Marca" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Producto.CveProdServSAT" class="control-label"></label>
                <input asp-for="Producto.CveProdServSAT" class="form-control" />
                <span asp-validation-for="Producto.CveProdServSAT" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Producto.CveUnidadSAT" class="control-label"></label>
                <input asp-for="Producto.CveUnidadSAT" class="form-control" />
                <span asp-validation-for="Producto.CveUnidadSAT" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Producto.ProveedorId" class="control-label"></label>
                <input asp-for="Producto.ProveedorId" class="form-control" />
                <span asp-validation-for="Producto.ProveedorId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Producto.Costo" class="control-label"></label>
                <input asp-for="Producto.Costo" class="form-control" />
                <span asp-validation-for="Producto.Costo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Producto.Precio" class="control-label"></label>
                <input asp-for="Producto.Precio" class="form-control" />
                <span asp-validation-for="Producto.Precio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Producto.Margen" class="control-label"></label>
                <input asp-for="Producto.Margen" class="form-control" />
                <span asp-validation-for="Producto.Margen" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Producto.Codebar" class="control-label"></label>
                <input asp-for="Producto.Codebar" class="form-control" />
                <span asp-validation-for="Producto.Codebar" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Producto.Contenido" class="control-label"></label>
                <input asp-for="Producto.Contenido" class="form-control" />
                <span asp-validation-for="Producto.Contenido" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Producto.Estatus" class="control-label"></label>
                <input asp-for="Producto.Estatus" class="form-control" />
                <span asp-validation-for="Producto.Estatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
