@page
@model AspNetCoreIdentity.Pages.Account.LoginModel
@{
    Layout = "_AccountLayout";
}
<div class="col-lg-5">
    <div class="card shadow-lg border-0 rounded-lg mt-5">
        <div class="card-header"><h3 class="text-center font-weight-light my-4">Acceso</h3></div>
        <div class="card-body">
            <form method="post">
                <div class="form-floating mb-3">
                    <input type="text" asp-for="Model.Email" class="form-control" />
                    <label class="form-label" asp-for="Model.Email">Email Address</label>                    
                    <span asp-validation-for="Model.Email" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input type="password" asp-for="Model.Password" class="form-control" />
                    <label class="form-label" asp-for="Model.Password">Password</label>
                    <span asp-validation-for="Model.Password" class="text-danger"></span>
                </div>
                <div class="form-check mb-3">
                    <input type="checkbox" asp-for="Model.RememberMe" class="form-check-input" />
                    <label class="form-check-label" asp-for="Model.RememberMe">Remember me?</label>
                </div>
                <div class="d-flex align-items-center justify-content-between mt-4 mb-0">
                    <a class="small" href="password.html">Forgot Password?</a>
                    <button type="submit" class="btn btn-primary">Enter</button>
                </div>
            </form>
        </div>
        <div class="card-footer text-center py-3">
            <div class="small"><a asp-area="" asp-page="/Account/Register">No tienes cuenta? Registrate</a></div>
        </div>
    </div>
</div>